* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffd700;
  --color-grey1: #4b4b4b;
  --br-sm-2: 14px;
  --fontFamily: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-primary);
  font-family: var(--fontFamily);
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all .4s ease-in-out;
}

a  {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all .4s ease-in-out;
  background-color: var(--color-primary);
}


.sec1 {
  visibility: hidden;
  transform: translateY(0) scale(1);
}
.sec2 {
  visibility: hidden;
  transform: translateY(0) scale(1);
}
.sec3 {
  visibility: hidden;
  transform: translateY(0) scale(1);
}
.sec4 {
  visibility: hidden;
  transform: translateY(0) scale(1);
}
.sec5 {
  visibility: hidden;
  transform: translateY(0) scale(1);
} 

.active {
  visibility: visible;
  //animation: showUp 2s ease-in-out;
}

@keyframes showUp {
  0%  {transform: translateY(-100%) scaleY(0);
  }
  100% {transform: translateY(0) scaleY(1);}
}

//navbar

nav {
  position: fixed;
  z-index: 10;
  top: 40%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  a {
    cursor: pointer;
    padding: 1rem;
    margin: .6rem 0;
    //background-color: var(--color-grey1);
    width: 55px;
    height: 55px;
    //border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

      i {
        transition: all 0.3s ease-out;
        font-size: 25px;
      }

      &:hover{
        color: var(--color-yellow);
        i {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
        font-weight: 700;
      }

      &:after {
        content: '';
        font-size: 12px;
        letter-spacing: 2px;
        width: 100%;
        text-align: center;
        display: block;
        position: absolute;
        //top: 0;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      &:first-child {
        &::after {
          content:'HOME';
        }
      }

    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }
    a.portfolio-link {
      &:after {
        content: 'PORTFOLIO';
      }
    }
    a.blog-link {
      &:after {
        content: 'BLOG';
      }
    }
    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }
}

.active-btn {
  color: var(--color-yellow);
}

/* header content */
.header-content {
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  height: 100vh;

    .header-left-side {
      display: flex;
      justify-content: center;
      align-items: center;

      .img-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .profil-img{
          border-radius: 50%;
          width: 30%;
          animation: App-logo-spin  1s ease-in;

        @keyframes App-logo-spin {
          from {
            transform: rotateY(-180deg);
          }
          to {
            transform: rotateY(180deg);
          }
          }
        }
      }
  }

      .header-right-side {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-right: 18rem;

         .name {
            letter-spacing: 0.3rem;

            span {
              letter-spacing: 0;
              color: var(--color-yellow);
            }
         }
          p.introduction {
            margin: 1.5rem 0;
            line-height: 2rem;
            text-justify: auto;
          }
      }
}


/* about section*/

.main-title {
  text-align: center;
  
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
     span {
      color: var(--color-yellow);
    }
    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey1);
      z-index: -1;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      font-weight: 800;
    }
  }
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3.5rem 0 5rem 0;
    .about-right-side {

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .img1 {
        clip-path:ellipse(50% 35%);
        width: 35%;
        align-self: center;
      }
      .img2 {
        width: 35%;
        filter: grayscale(10);
        clip-path:ellipse(50% 45%);
        align-self: center;
      }
    }

}

