* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffd700;
  --color-grey1: #4b4b4b;
  --br-sm-2: 14px;
  --fontFamily: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-primary);
  font-family: var(--fontFamily);
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  visibility: hidden;
  transform: translateY(0) scale(1);
}

.sec2 {
  visibility: hidden;
  transform: translateY(0) scale(1);
}

.sec3 {
  visibility: hidden;
  transform: translateY(0) scale(1);
}

.sec4 {
  visibility: hidden;
  transform: translateY(0) scale(1);
}

.sec5 {
  visibility: hidden;
  transform: translateY(0) scale(1);
}

.active {
  visibility: visible;
}

@-webkit-keyframes showUp {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

@keyframes showUp {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
nav {
  position: fixed;
  z-index: 10;
  top: 40%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav a {
  cursor: pointer;
  padding: 1rem;
  margin: 0.6rem 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a i {
  transition: all 0.3s ease-out;
  font-size: 25px;
}
nav a:hover {
  color: var(--color-yellow);
  font-weight: 700;
}
nav a:hover i {
  opacity: 0;
}
nav a:hover:after {
  opacity: 1;
}
nav a:after {
  content: "";
  font-size: 12px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-out;
}
nav a:first-child::after {
  content: "HOME";
}
nav a.about-link:after {
  content: "ABOUT";
}
nav a.portfolio-link:after {
  content: "PORTFOLIO";
}
nav a.blog-link:after {
  content: "BLOG";
}
nav a.contact-link:after {
  content: "CONTACT";
}

.active-btn {
  color: var(--color-yellow);
}

/* header content */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
.header-content .header-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content .header-left-side .img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content .header-left-side .img-content .profil-img {
  border-radius: 50%;
  width: 30%;
  -webkit-animation: App-logo-spin 1s ease-in;
          animation: App-logo-spin 1s ease-in;
}
@-webkit-keyframes App-logo-spin {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
.header-content .header-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 18rem;
}
.header-content .header-right-side .name {
  letter-spacing: 0.3rem;
}
.header-content .header-right-side .name span {
  letter-spacing: 0;
  color: var(--color-yellow);
}
.header-content .header-right-side p.introduction {
  margin: 1.5rem 0;
  line-height: 2rem;
  text-justify: auto;
}

/* about section*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3.5rem 0 5rem 0;
}
.about-container .about-right-side .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-container .about-right-side .img1 {
  -webkit-clip-path: ellipse(50% 35%);
          clip-path: ellipse(50% 35%);
  width: 35%;
  align-self: center;
}
.about-container .about-right-side .img2 {
  width: 35%;
  filter: grayscale(10);
  -webkit-clip-path: ellipse(50% 45%);
          clip-path: ellipse(50% 45%);
  align-self: center;
}

/* portfolio section*/
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.btn-container button {
  margin-right: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-grey1);
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
}
.btn-container button:hover {
  color: var(--color-yellow);
  transform: scale(1);
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  margin-top: 5rem;
}
.categories-container .category {
  border: 1px solid var(--color-white);
  height: 300px;
}
.categories-container .category .img-slide {
  width: 100%;
  height: 100%;
}

.caption-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}

/* independants components*/
.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-yellow);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey1);
  z-index: -1;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 800;
}/*# sourceMappingURL=styles.css.map */