* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffd700;
  --color-grey1: #4b4b4b;
  --br-sm-2: 14px;
  --fontFamily: "Montserrat", sans-serif;
}

.light-mode {
  --color-primary: #fff;
  --color-secondary: #27ae60;
  --color-white: #454e56;
  --color-black: #000;
  --color-yellow: #c23616;
  --color-grey1: #ecf0f1;
}

body {
  background-color: var(--color-primary);
  font-family: var(--fontFamily);
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
}

@-webkit-keyframes showUp {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

@keyframes showUp {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
nav {
  position: fixed;
  z-index: 10;
  top: 40%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav a {
  cursor: pointer;
  padding: 1rem;
  margin: 0.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a i {
  transition: all 0.3s ease-out;
  font-size: 25px;
}
nav a:hover {
  color: var(--color-yellow);
  font-weight: 700;
}
nav a:hover i {
  opacity: 0;
}
nav a:hover:after {
  opacity: 1;
}
nav a:after {
  content: "";
  font-size: 12px;
  letter-spacing: 2px;
  left: 6px;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-out;
}
nav a:first-child::after {
  content: "HOME";
}
nav a.about-link:after {
  content: "ABOUT";
}
nav a.portfolio-link:after {
  content: "PORTFOLIO";
}
nav a.blog-link:after {
  content: "BLOG";
}
nav a.contact-link:after {
  content: "CONTACT";
}

.active-btn {
  color: var(--color-yellow);
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-grey1);
  position: fixed;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1rem;
  color: var(--color-white);
  pointer-events: none;
}

/* header content */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
.header-content .header-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content .header-left-side .img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content .header-left-side .img-content .profil-img {
  border-radius: 50%;
  width: 30%;
  -webkit-animation: App-logo-spin 1s ease-in;
          animation: App-logo-spin 1s ease-in;
}
@-webkit-keyframes App-logo-spin {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
.header-content .header-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 18rem;
}
.header-content .header-right-side .name {
  letter-spacing: 0.3rem;
}
.header-content .header-right-side .name span {
  letter-spacing: 0;
  color: var(--color-yellow);
}
.header-content .header-right-side p.introduction {
  margin: 1.5rem 0;
  line-height: 2rem;
  text-justify: auto;
}

/* about section*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3.5rem 0 5rem 0;
}
.about-container .about-right-side .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-container .about-right-side .img1 {
  -webkit-clip-path: ellipse(50% 35%);
          clip-path: ellipse(50% 35%);
  width: 35%;
  align-self: center;
}
.about-container .about-right-side .img2 {
  width: 35%;
  filter: grayscale(10);
  -webkit-clip-path: ellipse(50% 45%);
          clip-path: ellipse(50% 45%);
  align-self: center;
}

/* portfolio section*/
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.btn-container button {
  margin-right: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-grey1);
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
}
.btn-container button:hover {
  color: var(--color-yellow);
  transform: scale(1);
}

button.btn-open.btn:active {
  transform: scale(0.9);
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  margin-top: 5rem;
}
.categories-container .slides {
  border: 1px solid var(--color-white);
  height: 300px;
}
.categories-container .slides .img-slide {
  width: 100%;
  height: 100%;
}

.caption-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.slides-container {
  -webkit-animation: appear 350ms ease-in;
          animation: appear 350ms ease-in;
  max-width: 600px;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
/* modal container*/
.modal {
  display: none;
  position: relative;
  bottom: 350px;
}

.modal-container {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 0 auto;
}
.modal-container span {
  float: right;
  color: var(--color-grey1);
  background-color: var(--color-yellow);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin: 5px;
  cursor: pointer;
}
.modal-container .nav-btn-modal .prev {
  position: absolute;
  z-index: 10;
  font-size: 1rem;
  top: 50%;
  left: 0.2rem;
  font-weight: 700;
}
.modal-container .nav-btn-modal .next {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0.2rem;
  font-size: 1rem;
}
.modal-container .slide {
  position: absolute;
  display: none;
}
.modal-container .main {
  display: block;
}
.modal-container .img-modal {
  width: 100%;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-grey1);
  color: var(--color-white);
  font-weight: 700;
  cursor: pointer;
}
.prev:hover,
.next:hover {
  background-color: var(--color-yellow);
  transition: 0.3s;
}

/* contact section*/
.contact-content-container {
  display: flex;
  padding: 3.5rem;
}
.contact-content-container .left-contact {
  flex: 2;
}
.contact-content-container .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-container .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-container .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-container .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0;
}
.contact-content-container .left-contact .contact-info .location:hover {
  color: var(--color-yellow);
}
.contact-content-container .left-contact .contact-icons {
  display: flex;
  justify-content: space-around;
}
.contact-content-container .left-contact .contact-icons .contact-icon i {
  font-size: 1.7rem;
}
.contact-content-container .left-contact .contact-icons .contact-icon:hover {
  color: var(--color-yellow);
}
.contact-content-container .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-container .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-container .right-contact .input-control input, .contact-content-container .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  width: 100%;
  background-color: var(--color-grey1);
  color: var(--color-yellow);
  resize: none;
}
.contact-content-container .right-contact .input-control-two {
  display: flex;
}
.contact-content-container .right-contact .input-control-two :last-child {
  margin-left: 1.5rem;
}
.contact-content-container .right-contact .contact-btns {
  display: flex;
  justify-content: space-evenly;
}
.contact-content-container .right-contact .submit-btn {
  display: flex;
  justify-content: center;
  background-color: var(--color-grey1);
  color: var(--color-white);
  padding: 0.8rem 1.1rem;
  border-radius: 30px;
  border: none;
}
.contact-content-container .right-contact .submit-btn:hover {
  color: var(--color-yellow);
  transform: scale(1);
}

/* independants components*/
.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-yellow);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey1);
  z-index: -1;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }
  header .header-right-side {
    padding: 1rem 2rem 1rem 2rem !important;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .header-right-side {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .theme-btn {
    width: 30px;
    height: 30px;
  }
  nav a:after {
    font-size: 8px;
  }
  .myNavBar {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey1);
  }
  .navbar-items {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=styles.css.map */